.addIconFab {
  box-shadow: none !important;
  background: none !important;
}

.addIcon {
  color: rgba($black, 0.54);
}

.archor {
  color: #9c27b0;
}

:global(.MuiFormControl-root) {
  width: 100%;
}

.field {
  margin-bottom: 20px;
}
