$drawerWidth: 260px;

.layouts {
  min-height: 100vh;
  background: $lightBg;
}

.drawerContainer {
  position: relative;
  @include bgMixin(
    'https://demos.creative-tim.com/material-dashboard-pro-react/static/media/sidebar-4.f34e943f.jpg',
    $drawerWidth
  );
  min-height: 100%;
  color: $lightDrawerTxt;
  transition: width 300ms ease;
  svg {
    color: $lightDrawerTxt;
  }
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba($black, 0.8);
  }
}

.shiftDrawer {
  width: 60px;
  transition: width 300ms ease;
}

.appBar {
  width: calc(100% - #{$drawerWidth}) !important;
  background: transparent !important;
  color: $lightTxt !important;
  box-shadow: none !important;
  transition: all 300ms ease !important;
}

.shiftAppBar {
  width: calc(100% - 60px) !important;
  transition: all 300ms ease !important;
}

.appBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.title {
  margin: 0 30px !important;
}

.main {
  margin-left: 284px;
  padding-top: 88px;
  width: calc(100%-260px);
}
