@font-face {
  font-family: 'Whitney-400';
  src: url('https://static.yancey.app/fonts/Whitney-400.woff') format('woff');
}

@font-face {
  font-family: 'Whitney-500';
  src: url('https://static.yancey.app/fonts/Whitney-500.woff') format('woff');
}

@font-face {
  font-family: 'Whitney-600';
  src: url('https://static.yancey.app/fonts/Whitney-600.woff') format('woff');
}

.loginWrapper {
  @include flexMixin;
  width: 100vw;
  height: 100vh;
  font-family: 'Whitney-400';
  background: url('https://static.yancey.app/cms-static/login-bg-dark.jpg')
    no-repeat center center;
  background-size: cover;
  text-rendering: optimizeLegibility;
}

.header {
  margin-bottom: 8px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.headerExtra {
  text-align: center;
  color: #72767d;
  font-family: 'Whitney-500';
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.loginForm {
  width: 480px;
  padding: 40px;
  font-size: 18px;
  color: #72767d;
  background: #36393f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 20px;
  font-family: 'Whitney-600';
  font-size: 12px;
  font-weight: 600;
  color: #8e9297;
  text-transform: uppercase;
  &:first-of-type {
    margin-top: 20px;
  }
}

.inputTxt {
  margin-top: 6px;
  padding: 10px;
  height: 40px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  color: #dcddde;
  background-color: rgba(#000000, 0.1);
  border: 1px solid rgba(#000000, 0.3);
  outline: none;
  &:hover {
    border-color: #000000;
  }
  &:focus {
    border-color: #7289da;
  }
}

.submitBtn {
  width: 100%;
  height: 44px;
  font-family: 'Whitney-600';
  font-size: 16px;
  color: #fff;
  background-color: #7289da;
  border: none;
  border-radius: 3px;
  user-select: none;
  outline: none;
  cursor: pointer;
  transition: 300ms ease;
  &:hover {
    transition: 300ms ease;
    background-color: #677bc4;
  }
}

.link {
  margin-top: 8px;
  font-family: 'Whitney-600';
  font-size: 14px;
  font-weight: 500;
  color: #7289da;
  cursor: pointer;
  text-decoration: none;
  text-transform: initial;
  &:hover {
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.registerTip {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
}

.license {
  margin-top: 20px;
  font-size: 12px;
  color: #72767d;
  a {
    color: #7289da;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  color: #f04747;
}

.errorMsg {
  font-style: italic;
  text-transform: initial;
}

.errorInputTxt {
  border-color: #f04747;
  &:hover,
  &:focus {
    border-color: #f04747;
  }
}
