{
  "presets": ["react-app"],
  "plugins": [
    [
      "babel-plugin-transform-imports",
      {
        "@mui/material": {
          "transform": "@mui/material/${member}",
          "preventFullImport": true
        },
        "@mui/icons-material": {
          "transform": "@mui/icons-material/esm/${member}",
          "preventFullImport": true
        },
        "@mui/lab": {
          "transform": "@mui/lab/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
