.totpWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.totpContainer {
  margin-bottom: 20px;
  padding: 16px;
  width: 520px;
}

.qrcodeWrapper {
  width: 180px;
  margin: 50px auto;
  img {
    display: block;
  }
}

.tips1 {
  font-size: 13px;
  color: #586069;
}

.tips2 {
  margin: 16px -16px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #735c0f;
  background-color: #fffbdd;
}

.tips3 {
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
}

.inputBtn {
  margin-left: 20px;
}

.inputTipHeader {
  margin-bottom: 10px;
  font-size: 15px;
}

.buttonGroup {
  margin: 24px 0;
  text-align: center;
}

.btn {
  margin: 0 8px;
}

.tipsBlod {
  font-weight: bold;
}

.recoveryCodesGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
}

.recoveryCodesItem {
  padding: 0;
  font-family: Consolas, Liberation Mono, Menlo, monospace;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.8;
}
.customForm{
  margin-top: 20px;
}