.totpWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.totpContainer {
  margin-bottom: 20px;
  padding: 16px;
  width: 520px;
}

.tips1 {
  font-size: 13px;
  color: #586069;
}

.tips2 {
  margin: 16px -16px;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #735c0f;
  background-color: #fffbdd;
}

.tips3 {
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
}

.inputBtn {
  margin-left: 20px;
}

.inputTipHeader {
  margin-bottom: 10px;
  font-size: 15px;
}

.buttonGroup {
  margin: 24px 0;
  text-align: center;
}

.btn {
  margin: 0 8px;
}

.tipsBlod {
  font-weight: bold;
}

.recoveryCodesGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
}

.recoveryCodesItem {
  padding: 0;
  font-family: Consolas, Liberation Mono, Menlo, monospace;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.8;
}
.customForm {
  margin-top: 20px;
}

// ---------------------

.totpDialog {
  :global(.MuiDialog-paper) {
    width: 480px;
    border-radius: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  background-color: #4285f4;
}

.logoImg {
  width: 145px;
  height: 145px;

  img {
    width: 100%;
  }
}

.header {
  padding-top: 12px;
  font-size: 20px;
  color: #202124;
}

.qrcodeWrapper {
  width: 180px;
  margin: 0 auto 20px;
  text-align: center;
  img {
    display: block;
  }
}



.tipGroup {
  padding: 0;
}

.tipItem {
  display: block;
  position: relative;
  padding-left: 20px;
  color: #3c4043;
  font-size: 14px;
  &::before {
    position: absolute;
    content: '';
    top: 7px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
  }
}

.bold {
  font-weight: bold;
}
