.addIconFab {
  box-shadow: none !important;
  background: none !important;
}

.addIcon {
  color: rgba(#000000, 0.54);
}

.customForm {
  :global(.MuiFormControl-root) {
    margin-bottom: 20px;
  }
}

.uploaderGroup {
  display: flex;
  align-items: center;
}