.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 12px 24px;
  font-size: 14px;
  text-align: right;
  color: #3c4858;
}

.footerList {
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding-right: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #3c4858;
}
