$divider: rgba($white, 0.3);
$drawerHover: rgba(#c8c8c8, 0.2);

.drawerContainer {
  border-right: none !important;
  box-shadow: 0 10px 30px -12px rgba($black, 0.42),
    0 4px 25px 0px rgba($black, 0.12), 0 8px 10px -5px rgba($black, 0.2) !important;
}

.drawer {
  position: relative;
  min-height: 100%;
  @include bgMixin(
    'https://demos.creative-tim.com/material-dashboard-pro-react/static/media/sidebar-3.c963330b.jpg',
    $drawerUnfold
  );
  color: $lightDrawerTxt;
  white-space: nowrap;
  overflow-x: hidden;
  z-index: -1;
  transition: width 300ms ease 0ms;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba($black, 0.8);
    z-index: -1;
  }
  &:hover {
    width: $drawerUnfold;
    .drawerDetail {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

.foldDrawer {
  width: $drawerFold;
  transition: width 300ms ease 0ms;
}

.drawerContent {
  padding: 22px 15px;
}

.drawerTitle {
  @include flexMixin(flex-start);
}

.drawLogo {
  margin-left: 14px;
  margin-right: 18px;
  width: 22px !important;
  height: 22px !important;
}

.drawerDetail {
  @include flexMixin(flex-start);
  font-size: 18px;
  line-height: 1.67;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease 0ms, visibility 300ms ease 0ms;
}

.hideDrawerDetail {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease 0ms, visibility 300ms ease 0ms;
}

.avater {
  width: 34px !important;
  height: 34px !important;
  margin-left: 8px;
  margin-right: 12px;
}

.drawerUser {
  @include flexMixin(flex-start);
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $divider;
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $divider;
  }
}

.drawerTxt {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.drawerItem {
  @include flexMixin(flex-start);
  position: relative;
  margin-top: 10px;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 300ms ease 0ms;
  &:hover {
    background-color: $drawerHover;
    border-radius: 3px;
    transition: background-color 300ms ease 0ms;
  }
}

.activeDrawerItem {
  background-color: $lightGreen;
  border-radius: 3px;
  box-shadow: 0 12px 20px -10px rgba($lightGreen, 0.28),
    0 4px 20px 0 rgba($black, 0.12), 0 7px 8px -5px rgba($lightGreen, 0.2);
  &:hover {
    background-color: $lightGreen;
  }
}

.activeDrawerItemHasChildren {
  background-color: $drawerHover;
  border-radius: 3px;
}

.drawerItemIcon {
  margin-left: 13px;
  margin-right: 18px;
  width: 24px !important;
  height: 20px;
  text-align: center;
}

.itemChildren {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease 0ms;
}

.activeItemChildren {
  transition: max-height 300ms ease 0ms;
}

.drawerItemChildren {
  padding: 10px 0;
}

.arrow {
  display: inline-block;
  position: absolute;
  right: 20px;
  width: 0;
  height: 0;
  border-top: 4px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: rotate(0deg);
  transition: transform 300ms ease 0ms;
}

.reverseArrow {
  transform: rotate(180deg);
  transition: transform 300ms ease 0ms;
}
