.tableWrapper {
  position: relative;
}

.tableIconContainer {
  @include flexMixin;
  position: absolute;
  left: 16px;
  width: 62px;
  height: 65px;
  background: linear-gradient(60deg, #ec407a, #d81b60);
  border-radius: 3px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.tableHeader {
  @include flexMixin(flex-start);
  margin-bottom: 40px;
}

.tableIcon {
  width: 20px !important;
  height: 20px;
  color: $white;
}

.tableTitle {
  position: relative;
  top: 16px;
  margin: 0;
  margin-left: 94px;
  font-size: 18px;
  font-weight: 300;
  color: #3c4858;
}
