figure,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #1a73e8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.tui-emebed-icon {
  position: relative;
  top: -2px;
  font-size: 14px !important;
  font-weight: bold !important;
  background: none !important;
  color: #000 !important;
}
