.uploader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 24px;
  margin-top: 24px;
  width: 128px;
  height: 128px;
}

.addBtn {
  width: 48px;
  height: 48px;
}

.input {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.img {
  width: 114px;
  height: 114px;
  object-fit: cover;
}
