// basic colors
$black: #000000;
$white: #ffffff;

// light
$lightBg: #eeeeee;
$lightDrawerTxt: $white;
$lightTxt: #555555;
$lightBlue: #00acc1;
$lightGreen: #4caf50;

$drawerUnfold: 260px;
$drawerFold: 80px;
