.layouts {
  display: flex;
  background: $lightBg;
}

.container {
  width: calc(100%-#{$drawerUnfold});
  margin-left: $drawerUnfold;
  transition: all 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.containerShift {
  width: calc(100%-#{$drawerFold});
  margin-left: $drawerFold;
  transition: all 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
